.header {
	top: 0;
	position: sticky;
	padding: 12px 18px;
	color: white;
	z-index: 1;
	background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
	display: inline-block;
	font-size: 25px;
	cursor: pointer;
	user-select: none;
}

.topNav {
    list-style-type: none;
}

.topNavItem {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}